h1 {
    margin:0;
    padding: 30px;
    background-color: unset !important;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: unset !important;
}

.dark a{
    color: #d1c7c8;
}

.light a{
    color: #5b5757;
}

.dark h1{
    color: #d1c7c8;
}

.light h1{
    color: #5b5757;
}

a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

button {
    border-radius: 30px;
    font-weight: bold;
    margin: 15px 0
}

button:hover {
    cursor: pointer;
}